button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CFCFD9;
    border: none;
    padding: 0.2rem;
    width: 50rem;
    border-radius: 1rem;
    font-size: 4rem;
    margin-top: 0.5rem;
    color: #484B6A;
    font-family: 'Bangers', cursive;
}

button:hover{
    cursor: pointer;
}