header{
    display: flex;
    height: 10vh;
    width: 100vw;
    padding: 1rem;
}

a{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 4rem;
    padding: 1rem 1rem 1rem 0;
    overflow: hidden;
    color: #484B6A;
    font-family: 'Bangers', cursive;
}

a mat-icon {
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    color: #484B6A;
}